.companion {
  background-color: @profile;
}

.companion__content .traveler:not(:last-child) {
  margin-bottom: 9px;
}

.companion__wrapper {
  background-color: @dark-blue;
  color: @white;
  padding: 29px 0;
  border-radius: 0 0 30px 30px;
}

.companion__title {
  margin-bottom: 19px;
}

.companion__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  margin-bottom: 25px;
}

.companion__text--bold {
  font-weight: 700;
  margin-bottom: 54px;
}
