.directions {
  background-color: @dark-blue;
}

.directions__wrapper {
  background-color: @light-violet;
  padding-top: 71px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
}

.directions__title {
  margin-bottom: 19px;
}

.directions__text {
  margin-bottom: 60px;
}

.directions__text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: @greyish-brown;
}

.directions__options {
  margin-bottom: 25px;
}

.direction__content {
  background-color: @white;
  padding: 0 25px;
  border-radius: 10px;
}

.direction__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: @black;
  margin-bottom: 2px;
}

.direction__about {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: @greyish-brown;
}

.direction__number {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: @deep-dark-blue;
}
