.feedback {
  background-color: @accent-yellow;
}

.feedback__wrapper {
  background-color: @dark-blue;
  color: @white;
  padding: 70px 0 12px 0;
  border-radius: 0 0 30px 30px;
}

.feedback__title {
  text-align: center;
  margin-bottom: 19px;
}

.feedback__content,
.feedback__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 29px;
  text-align: center;
}

.feedback__content a {
  color: @accent-yellow;
}

.feedback__text {
  margin-bottom: 30px;
}
