.interaction {
  display: none;
}

.interaction__link {
  text-decoration: none;
  color: @dark-blue;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}

.interaction--feedback {
  display: block;
}

.interaction--feedback .interaction__link {
  color: @accent-yellow;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
