.location__wrapper {
  background-color: @accent-yellow;
  color: @dark-blue;
  padding: 35px 0;
  border-radius: 0 0 30px 30px;
}

.location__address {
  text-decoration: none;
  color: @twilight-blue;
  font-weight: 700;
  line-height: 22px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.location__img {
  display: block;
  width: 100%;
  height: auto;
}

.location__button {
  outline: 3px solid @dark-blue;
  border-radius: 10px;
}
