.step {
  background-color: @white;
  padding: 22px;
  border-radius: 10px;
}

.step:not(:last-child) {
  margin-bottom: 10px;
}

.step__button {
  text-decoration: none;
  background-color: @accent-yellow;
  border: none;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: @twilight-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 20px;
  width: 221px;
  height: 40px;
}

.step__button--back {
  background-color: transparent;
}
